@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #232536;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* Medium grey */
  color: #6d6e76;
}

ul {
  padding-left: 20px;
}

li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #161722;
  opacity: 0.78;
}

.category-title {
  font-family: 'Poppins';
  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 35px;
}

.category-card {
  width: 255px;
  height: 266px;
  background-color: #F4F0F8;
  border-radius: 10px;
  padding-top: 9px;
}

.category-card img {
  display: block;
  margin: 0px auto;
}

.category-card h3 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.category-card p {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.category-list {
  display: flex;
  gap: 53px;
  justify-content: center;
}

.background {
margin: 0px auto;
padding-right: 20px;
margin-top: 20px;
background-image: url(img/Rectangle\ 3.png);
height: 594px;
width: 1280px;
padding-top: 50px;
}

.boxfont {
  width: 714px;
  height: 298px;
  margin-left: 50px;
}
.headfont {
  font-family: 'Poppins';
  font-weight: bold;
  color:#FFFFFF;
  font-size: 70px;
  margin-bottom: -5px;
  line-height: 89px;
  margin-right: 230px;
  margin-top: 0px;
}
.details {
  font-family: 'Poppins';
  width: 600px;
  color: #FFFFFF;
  font-size: 18px;
  margin-right: -70px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.subscribe {
  background-color: #FF5959;
  border: none;
  width: 186px;
  height: 60.05px;
  color: #FFFFFF;
  border-radius: 12px;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 22px;
  
}
.subscribe img {
  vertical-align: middle;
}